.accordion {
  width: 18rem;
}

.Coin {
  margin: 1rem;
  text-align: start;
  display: inline-block;
  vertical-align: top;
}

input {
  position: relative;
  float: right;
  bottom: 2rem;
}

.changeLetterSize {
  font-size: 1.2rem;
}

.Coin:hover {
  box-shadow: grey 0.5rem 0.5rem 0.5rem;
}
